* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

html,
body {
    height: 100%;
    background: linear-gradient( to right, #778beb 0%, #778beb 50%, #f8a5c2 50%, #f8a5c2 100%);
}

h1 {
    font-size: 5vw;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    position: absolute;
    color: #778beb;
    white-space: nowrap;
}

h1::before {
    content: attr(data-heading);
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    color: #f8a5c2;
}